.header {
    grid-area: h;
    background-color: #56766e;
}

.header img{
    margin-top: 8px;
    margin-left: 10px;
    width: 40px;
}

.loginBlock {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

.loginBlock a {
    color: white;
}
