.descriptionBlock{
    padding: 10px;
}

.avatar {
    max-width: 200px;
}

.contact {
    padding-left: 10px;
}

.profileName {
    padding-left: 20px;
}

.editButton {
    margin-top: 5px;
    margin-bottom: 10px;
}

