.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 10px;
}

.dialogsItems .active{
    color: gold;
}

.dialog{

}

.avatar{
    width: 40px;
    border-radius: 30px;
}

.messages{
    padding: 10px;
}

.message{

}

.left{
    text-align: left;
}

.right{
    text-align: right;
}
